.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin-bottom: 20px;
  color: #ffffff;
}

.hello-welcome {
  font-size: 1.5em;
  font-weight: bold;
}

.sliding-area-wrapper {
  overflow-x: auto;
  height: 100%;
}

.sliding-area {
  padding: 10px;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  background-color: #070707e3;
}

.section-content,
.about-page,
.contact-page {
  flex-shrink: 0;
  width: 100%; /* Each section takes full width of the container */
  padding: 20px;
  box-sizing: border-box;
}

.section-navigation {
  display: flex;
  gap: 50px;
}

.section-navigation button {
  cursor: pointer;
}

.section-navigation button.active {
  font-weight: bold;
  transition:  0.5s ;

}